/* MAIN CSS */

@font-face {
  font-family: Netto;
  src: url('./fonts/netto_ot.ttf');
}

@font-face {
  font-family: Barlow;
  src: url('./fonts/barlow.ttf');
}

:root {
  --primary: #ffcc00; /*#17499b;*/
  --secondary: #6B6570; /*#339df5;*/
  --background: #ededed;
  --dark: #282727;
  --light: #fff;
  --red: #f10032;
  --green: #47cf73;
}

* {
  font-family: Barlow, Netto, 'PT Sans', sans-serif;
  outline: none;
}

body {
  background: var(--background);
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('pageLoader.gif') 50% 50% no-repeat rgb(249, 249, 249);
  background-size: 20vw;
  text-align: center;
}

/* BUTTONS */
button {
  font-size: 40px;
  color: var(--secondary);
  border: 1px solid var(--primary);
  background: var(--background);
  /* box-shadow: 0px 2px 2px -0px rgba(0, 0, 0, 0.3); */
  border-radius: 30px;
  width: 300px;
  height: 100px;
}

button:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* COLORS */
.dark {
  color: var(--dark);
}

.red {
  color: var(--red);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

/* TEXT */
h1 {
  font-size: 40px;
  text-align: center;
}

#status {
  position: relative;
  top: 58vh;
}

.maintext {
  margin: 2% auto;
  width: 92%;
  text-align: center;
}

.formtext {
  margin-left: 10vw;
  margin-bottom: 0vw;
}

.subtext {
  font-size: 17px;
  margin: 0% auto;
  width: 92%;
  text-align: center;
  font-style: italic;
}

.subtext .memo {
  font-family: monospace;
  font-style: normal;
  font-size: 20px;
  padding: 3px;
  background-color: var(--light);
  line-height: 50px;
  border-radius: 5px;
}

.info {
  font-size: 50px;
}

.confirm {
  font-size: 30px;
}

/* IMAGES */
img {
  display: block;
  margin: 0 auto;
  height: auto;
}

img.nfc {
  margin: 10px auto;
  width: 25vh;
}

.mainImage {
  margin: 27px auto;
  height: 50vh;
  width: auto;
}

/* ANIMATIONS */
.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

/* NUMBER PAD */
#form input:focus,
#form select:focus,
#form textarea:focus,
#form button:focus {
	outline: none;
}
.box {
  background: var(--background);
	margin: 2%;
	width: 80%;
	font-size: 3em;
	text-align: center;
	border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.number {
	box-shadow: var(--primary) 0 0 1px 1px;
	font-size: 3em;
}
.clear {
	font-size: 1.5em;
	box-shadow: var(--red) 0 0 1px 1px;
}
.enter {
	font-size: 1.5em;
	box-shadow: var(--green) 0 0 1px 1px;
}
.button {
	background: var(--background);
	color: var(--secondary);
	border: none;
	border-radius: 50%;
	text-align: center;
	width: 24vw;
	height: 24vw;
	margin: 1vw 1vw;
	padding: 0;
}
.button:active {
	background: var(--primary);
	color: #fff;
}
.clear:active {
	background: var(--red);
	color: #fff;
}
.enter:active {
	background: var(--green);
	color: #fff;
}

/* SETTINGS FORM */
.formbox {
  background: var(--background);
	margin: 2% 2% 10% 2%;
	width: 80%;
	font-size: 1.5em;
	border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 10px;
}
